{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
    <div class="testimonial-area testimonial-padding" style="background-color:#BE8C63;">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-9">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
<!--                            <div class="testimonial-caption ">-->
<!--                                <div class="testimonial-top-cap">-->
                                   <h1><font color="BLACK" style="font-family: fangsong;"> Location prediction on Twitter using machine learning Techniques</font></h1>
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}